In [1]:
import pandas as pd
import numpy as np
from sklearn import tree

In [2]:
df=pd.read_csv('shop data.csv')

In [3]:
df

      age  income  gender m_status buys
0     <25    high    male   single   no
1     <25    high    male  married   no
2   25-35    high    male   single  yes
3     >35  medium    male   single  yes
4     >35     low  female   single  yes
5     >35     low  female   single   no
6   25-35     low  female  married  yes
7     <25  medium    male  married   no
8     <25     low  female   single  yes
9     >35  medium  female  married  yes
10    <25  medium  female   single  yes
11  25-35  medium    male  married  yes
12  25-35    high  female   single  yes
13    >35  medium    male  married   no
14    <25    high    male   single   no

In [2]:
x=df.iloc[:,:-1]
x

NameError: name 'df' is not defined

In [3]:
y=df.iloc[:,4]
y

NameError: name 'df' is not defined

In [7]:
from sklearn.preprocessing import LabelEncoder

In [8]:
le_x=LabelEncoder()

In [9]:
x=x.apply(le_x.fit_transform)

In [1]:
x

NameError: name 'x' is not defined

In [11]:
dtf=tree.DecisionTreeClassifier()

In [12]:
dtf.fit(x,y)

DecisionTreeClassifier()

In [13]:
pred= dtf.predict([[1,1,0,0]])

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

In [14]:
pred

array(['yes'], dtype=object)